body{
	background: url(../img/c0d4770808ff187a10503c05c38e96f7afcf35c7a6c2-GKsltQ_fw658.gif) no-repeat center -80px;
}
*{
	margin: 0 auto;
}

p{
	text-align: center;
	margin: 400px 0 0 0;
}

p a{
	text-decoration: none;
	color: darkseagreen;
	font-family: 汉仪黑荔枝体简;
	font-size: x-large;
}

p:hover{
	text-decoration: underline;
}

@keyframes{  
    0% {opacity: 0;}
    20% {opacity: 0.2;}
    40% {opacity: 0.4;}
    60% {opacity: 0.6;}
    80% {opacity: 0.8;}
    100% {opacity: 1;}
}  
